<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Kursus</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/fonts/line-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300,400,500">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway+Dots">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="assets/css/Article-List.css">
    <link rel="stylesheet" href="assets/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/Features-Boxed.css">
    <link rel="stylesheet" href="assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="assets/css/Header-Blue.css">
    <link rel="stylesheet" href="assets/css/Map-Clean.css">
    <link rel="stylesheet" href="assets/css/Navigation-Menu.css">
    <link rel="stylesheet" href="assets/css/News-article-for-homepage-by-Ikbendiederiknl.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <div>
        <div class="header-blue">
            <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
                <div class="container"><a class="navbar-brand" href="index.html">Company Name</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse"
                        id="navcol-1">
                        <ul class="nav navbar-nav">
                            <li class="nav-item" role="presentation"><a class="nav-link active" href="index.html">Home</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link active" href="kelas.html">Kelas</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link active" href="fasilitas.html">Fasilitas</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link active" href="lokasi.html">Lokasi</a></li>
                        </ul>
                        <form class="form-inline mr-auto" target="_self">
                            <div class="form-group"><label for="search-field"></label></div>
                        </form>
                    </div>
                </div>
            </nav>
            <div class="container-fluid hero">
                <div class="row mx-auto colorCajasBlancas padMar p-3 w-100 m-3">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-xl-12 padMar">
                                <h3 class="padMar" style="color:rgb(255,255,255);">Kursus yang Tersedia</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12 padMar">
                                <div class="row padMar bordeSecundario paddingCompleto15px margenesArribaAbajo15px">
                                    <div class="col col-12">
                                        <div class="row margenesArribaAbajo15px">
                                            <div class="col-lg-3 col-xl-2 padMar">
                                                <p>Courses</p>
                                            </div>
                                            <div class="col-lg-3 col-xl-2 padMar">
                                                <p>Time</p>
                                            </div>
                                            <div class="col-lg-3 col-xl-2 padMar">
                                                <p>Harga</p>
                                            </div>
                                            <div class="col-lg-3 col-xl-2 padMar">
                                                <p>Hari/Jam</p>
                                            </div>
                                            <div class="col-lg-3 col-xl-2 padMar">
                                                <p>Murid/Kelas</p>
                                            </div>
                                            <div class="col-lg-3 col-xl-2 padMar">
                                                <p>Pengetahuan Dasar (Harus)</p>
                                            </div>
                                        </div>
                                        <div class="row margenesArribaAbajo15px">
                                            <div class="col-lg-3 col-xl-2 padMar">
                                                <p>Python Programming</p>
                                            </div>
                                            <div class="col-lg-3 col-xl-2 padMar">
                                                <p>30 hours</p>
                                            </div>
                                            <div class="col-lg-3 col-xl-2 padMar">
                                                <p>Rp.250.000,- (Mahasiswa)</p>
                                                <p>Rp.750.000,-(Umum)</p>
                                            </div>
                                            <div class="col-lg-3 col-xl-2 padMar">
                                                <p>Senin/19.30 - 21.00</p>
                                                <p>Sabtu/19.30 - 21.00</p>
                                                <p>Minggu/19.30 - 21.00</p>
                                            </div>
                                            <div class="col-lg-3 col-xl-2 padMar">
                                                <p>5 Murid</p>
                                            </div>
                                            <div class="col-lg-3 col-xl-2 padMar">
                                                <p>Tidak Ada</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-12">
                                        <div class="row margenesArribaAbajo15px">
                                            <div class="col-lg-3 col-xl-2 padMar">
                                                <p>Java Masterclass</p>
                                            </div>
                                            <div class="col-lg-3 col-xl-2 padMar">
                                                <p>30 hours</p>
                                            </div>
                                            <div class="col-lg-3 col-xl-2 padMar">
                                                <p>Rp.300.000,-(Mahasiswa)</p>
                                                <p>Rp.800.000,-(Umum)</p>
                                            </div>
                                            <div class="col-lg-3 col-xl-2 padMar">
                                                <p>Senin/19.30 - 21.00<br></p>
                                                <p>Senin/19.30 - 21.00<br></p>
                                                <p>Senin/19.30 - 21.00<br></p>
                                            </div>
                                            <div class="col-lg-3 col-xl-2 padMar">
                                                <p>5 Murid</p>
                                            </div>
                                            <div class="col-lg-3 col-xl-2 padMar">
                                                <p>Tidak Ada</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-12">
                                        <div class="row margenesArribaAbajo15px">
                                            <div class="col-lg-3 col-xl-2 padMar">
                                                <p>Javascript Fullstack Development</p>
                                            </div>
                                            <div class="col-lg-3 col-xl-2 padMar">
                                                <p>30 hours</p>
                                            </div>
                                            <div class="col-lg-3 col-xl-2 padMar">
                                                <p>Rp.300.000,-<br>(Mahasiswa)<br></p>
                                                <p>Rp.750.000,-<br>(Umum)<br></p>
                                            </div>
                                            <div class="col-lg-3 col-xl-2 padMar">
                                                <p>Senin/19.30 - 21.00<br></p>
                                                <p>Senin/19.30 - 21.00<br></p>
                                                <p>Senin/19.30 - 21.00<br></p>
                                            </div>
                                            <div class="col-lg-3 col-xl-2 padMar">
                                                <p>5 murid</p>
                                            </div>
                                            <div class="col-lg-3 col-xl-2 padMar">
                                                <p>Tidak Ada</p>
                                            </div>
                                        </div>
                                        <div class="row margenesArribaAbajo15px">
                                            <div class="col-lg-3 col-xl-2 padMar">
                                                <p>Basic Android Development</p>
                                            </div>
                                            <div class="col-lg-3 col-xl-2 padMar">
                                                <p>30 hours</p>
                                            </div>
                                            <div class="col-lg-3 col-xl-2 padMar">
                                                <p>Rp.400.000,-<br>(Mahasiswa)<br></p>
                                                <p>Rp.400.000,-<br>(Umum)<br></p>
                                            </div>
                                            <div class="col-lg-3 col-xl-2 padMar">
                                                <p>Senin/19.30 - 21.00<br></p>
                                                <p>Senin/19.30 - 21.00<br></p>
                                                <p>Senin/19.30 - 21.00<br></p>
                                            </div>
                                            <div class="col-lg-3 col-xl-2 padMar">
                                                <p>3 Anak</p>
                                            </div>
                                            <div class="col-lg-3 col-xl-2 padMar">
                                                <p>Java Programming</p>
                                            </div>
                                        </div>
                                        <div class="row margenesArribaAbajo15px">
                                            <div class="col-lg-3 col-xl-2 padMar">
                                                <p>Full Stack Web Development</p>
                                            </div>
                                            <div class="col-lg-3 col-xl-2 padMar">
                                                <p>30 hours</p>
                                            </div>
                                            <div class="col-lg-3 col-xl-2 padMar">
                                                <p>Rp.250.000,-<br>(Mahasiswa)<br></p>
                                                <p>Rp.250.000,-<br>(Mahasiswa)<br></p>
                                            </div>
                                            <div class="col-lg-3 col-xl-2 padMar">
                                                <p>Senin/19.30 - 21.00<br></p>
                                                <p>Senin/19.30 - 21.00<br></p>
                                                <p>Senin/19.30 - 21.00<br></p>
                                            </div>
                                            <div class="col-lg-3 col-xl-2 padMar">
                                                <p>5 Murid</p>
                                            </div>
                                            <div class="col-lg-3 col-xl-2 padMar">
                                                <p>Basic Programming</p>
                                                <p>Javascript (Recommended)</p>
                                            </div>
                                        </div>
                                        <div class="row margenesArribaAbajo15px">
                                            <div class="col-lg-3 col-xl-2 padMar">
                                                <p>Arduino, Embedded System and IoT</p>
                                            </div>
                                            <div class="col-lg-3 col-xl-2 padMar">
                                                <p>20 hours</p>
                                            </div>
                                            <div class="col-lg-3 col-xl-2 padMar">
                                                <p>Rp.400.000,-<br>(Mahasiswa)<br></p>
                                                <p>Rp.950.000,-<br>(Mahasiswa)<br></p>
                                            </div>
                                            <div class="col-lg-3 col-xl-2 padMar">
                                                <p>Senin/19.30 - 21.00<br></p>
                                                <p>Senin/19.30 - 21.00<br></p>
                                                <p>Senin/19.30 - 21.00<br><br></p>
                                            </div>
                                            <div class="col-lg-3 col-xl-2 padMar">
                                                <p>3 Murid</p>
                                            </div>
                                            <div class="col-lg-3 col-xl-2 padMar">
                                                <p>Basic Programming C/C++</p>
                                                <p>Elektronika Dasar</p>
                                                <p>Basic Back End Development</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="features-boxed">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Setelah Kursus</h2>
                <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae.</p>
            </div>
            <div class="row justify-content-center features">
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fa fa-map-marker icon"></i>
                        <h3 class="name">Image Processing</h3>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p><a href="#" class="learn-more">Learn more »</a></div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fa fa-clock-o icon"></i>
                        <h3 class="name">Artificial Intellegence</h3>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p><a href="#" class="learn-more">Learn more »</a></div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fa fa-list-alt icon"></i>
                        <h3 class="name">Aplikasi Android</h3>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p><a href="#" class="learn-more">Learn more »</a></div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fa fa-leaf icon"></i>
                        <h3 class="name">Website</h3>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p><a href="#" class="learn-more">Learn more »</a></div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fa fa-plane icon"></i>
                        <h3 class="name">Smart Home System</h3>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p><a href="#" class="learn-more">Learn more »</a></div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fa fa-phone icon"></i>
                        <h3 class="name">Robot</h3>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p><a href="#" class="learn-more">Learn more »</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="#">Web design</a></li>
                            <li><a href="#">Development</a></li>
                            <li><a href="#">Hosting</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#">Company</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Company Name</h3>
                        <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
                    </div>
                    <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
                </div>
                <p class="copyright">Company Name © 2017</p>
            </div>
        </footer>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>